.texto
   text-align center

h1 
   font-size 45px
   border 10px red
   background-color black
   text-align center
   color white

p
   font-size 25px
   padding 10px
   border 1px solid black
   box-shadow 1px 1px 1px 1px gray
   text-align center
   color blak

img 
   padding-top 40px
   max-width 350px